.add {
    width:100%;
}
.home-top-heading {
    font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 46px;
/* identical to box height */


color: #494949;
}
.hed-ham {
    margin-top: 100px;
}
.italitext {
    font-family: Lora;
font-style:italic;
font-weight: normal;
font-size: 23px;
line-height: 30px;
/* or 176% */
width: 750px;
text-align: center;
letter-spacing: 0.03em;

color: #747474;
}
.italitex {
    width:90%;
    font-style:italic;
}
.q {
    border-style: double;
    border-color: #5c5c5c;
}
.safimge {
    float: right;
}
.lefttext {
    float: right;
}
.textnormal {
    font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: justify;
letter-spacing: 0.05em;
color: #5c5c5c;
}
.subhed {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #5c5c5c;
}
.imgg {
    width:80%;
    height:500px;

    object-fit: cover;
}
.topbtn {
    background: #085784;
    border:none;
    padding: 5px 20px;
    border-radius:5px;
    font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
letter-spacing: 0.05em;

color: #FFFFFF;

}
.Ruby-header {
    font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height */

text-align: center;

color: #000000;
}
.leftcontent {
    text-align: center;
}
.ent-p-text{
    font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
/* or 122% */

text-align: justify;

color: rgba(0, 0, 0, 0.67);
}
.end-heading {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-align: justify;
    
    color: rgba(0, 0, 0, 0.65); 
}
.rightimg {
    height: 350px;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    background: #FFFFFF;
box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1000px) { 

    .leftcontent {
        width:100%;
    }
    .home-top-p {
        width:100%;
    
}
.rightimgcol {
    width:100%;
    padding:10px;
}
.rightimg {
    object-fit: cover;
}
.topcat{
    width:50%;
}
}